/* Start Main Rules */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

ul,
ol {
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background: #ffffff;
}

/* End Main Rules */

/* Start Navigation Bar */

.navbar {
  margin-bottom: 88px;
  margin-top: 45px;
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .content ul {
  display: flex;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #4f5665;
}

.navbar .content .sing span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
}

.sing {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.button {
  font-weight: 600;
  line-height: 19px;
  border: 1px solid #f53855;
  font-family: "Rubik", sans-serif;
  padding: 13px 0;
}

.sign-up-button {
  border-radius: 50px;
  color: #F53855;
  background: transparent;
  font-size: 19px;
  width: 150px;
}

.sign-up-button:hover {
  color: #FFFFFF;
  background-color:  #F53838;
}

/* End Navigation Bar */

/* Start Header */

.header {
  margin-bottom: 88px;
}

.header .content {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.header .content .title,
.image-title {
  flex: 1;
}

.image-title img {
  width: 100%;
}

.header .content .title h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 20px;
}

.header .content .title h1 span {
  font-weight: 700;
}

.header .content .title p {
  margin-bottom: 50px;
}

.get-button {
  background: #f53838;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  border: none;
  box-shadow: 0px 16px 40px rgba(245, 56, 56, 0.35);
  width: 45%;
  padding-top: 17px;
  padding-bottom: 17px;
}

/* End Header */

/* Start Propreties */

.content-subtitle {
  padding-top: 51px;
  padding-bottom: 22px;
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 51px 107px #F6F6F6;
}

.locations{
  flex: 1;
  display: flex;
  justify-content: center;
  column-gap: 36px;
  align-items: center;
  padding: 30px 0 30px 0;
}

.content-subtitle .icon {
  height: 55px;
  width: 55px;
  background: rgb(255, 236, 236);
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-subtitle span {
  color: #4f5665;
  font-size: 20px;
  line-height: 30px;
}

.content-subtitle strong {
  font-weight: 700;
  font-size: 25px;
}

.border {
  border-left: 2px solid rgb(238, 239, 242);
  border-right: 2px solid rgb(238, 239, 242);
}

.user {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/*End Propreties */

/* Start Features */

.many-features {
  margin-top: 110px;
  margin-bottom: 130px;
}

.features {
  display: flex;
  align-items: center;
  column-gap: 169px;
}
.features .feature {
  width: 40%;
}

.features .feature p {
  margin-bottom: 20px;
}

.features .feature ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.features .feature ul li {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* End Features */

/* Start Plan */

.plan {
  background: rgba(246, 246, 246, .5);
  padding-top: 80px;
  padding-bottom: 155px;
}

.plan .plan-title {
  text-align: center;
}

.plan .plan-title p {
  margin-bottom: 50px;
}

.plan .plan-title .plans .box {
  padding: 80px 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan .plan-title .plans .box h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin: 30px 0;
}

.plan .plan-title .plans .box .unlimited {
  display: flex;
  text-align: left;
  justify-content: center;
}
.plan .plan-title .plans .box ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.plan .plan-title .plans .box ul li {
  color: #4F5665;
  font-size: 14px;
  line-height: 30px;
}

.plan .plan-title .plans .box>div ul li img {
  margin-right: 25px;
}
.plan .plan-title .plans .box .select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.select-button {
  border: 2px solid #F53838;
  border-radius: 50px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #f53855;
  width: 177px;
}

.select-button:hover {
  background: #F53838;
  color: #FFFFFF;
}

.plan .plan-title .plans .box .select strong {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #0B132A;
}

.plan .plan-title .plans .box .select span {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
}

.unique-button {
  background: #f53838;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  width: 177px;
  box-shadow: 0px 16px 40px rgba(245, 56, 56, 0.35);
}

/* End Plan */

/* Start Network */

.network-content {
   text-align: center;
}

.map img {
  width: 100%;
}

.map {
  position: relative;
}

.map .position-1 {
  top: 145px;
  left: 163px;
}

.map .position-2 {
  top: 135px;
  right: 264px;
}

.map .loc1 .border {
  width: 35px;
  height: 35px;
  border: 3px solid #f53838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map .loc1 .border .disc {
  width: 15px;
  height: 15px;
  background: #F53838;
  border-radius: 50%;
  
}

.map .loc2 .border-2 {
  width: 27px;
  height: 27px;
  border: 2.5px solid #f53838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map .loc2 .border-2 .disc-2 {
  width: 12px;
  height: 12px;
  background: #F53838;
  border-radius: 50%;
  
}

.map .loc4 .border-4 {
  width: 13px;
  height: 13px;
  border: 1px solid #f53838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map .loc5 .border-5 .disc-5 {
  width: 8px;
  height: 8px;
  background: #F53838;
  border-radius: 50%;
}

.map .loc5 .border-5 {
  width: 15px;
  height: 15px;
  border: 1px solid #f53838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map .loc4 .border-4 .disc-4 {
  width: 6px;
  height: 6px;
  background: #F53838;
  border-radius: 50%;
}

.position-06 {
  top: 29px;
  left: 378px;
}
.position-07 {
  top: 110px;
  left: 386px;
}

.position-04 {
  top: 1px;
  left: 287px;
}

.position-05 {
  top: 19px;
  left: 454px;
}

.map .position-77 {
  left: 207px;
  bottom: 299px;
}

.position-03 {
  top: 119px;
  right: 567px;
}

.map .position-88 {
  top: 143px;
  left: 297px;
}

.position-16 {
  top: 220px;
  left: 261px;
}

.position-17 {
  top: 99px;
  left: 210px;
}

.position-18 {
  top: 89px;
  left: 129px;
}

.position-19 {
  top: 100px;
  left: 38px;
}

.position-43 {
  top: 122px;
  right: 420px;
}

.position-01 {
  top: 89px;
  right: 47px;
}

.position-02 {
  top: 100px;
  right: 188px;
}

.position-42 {
  right: 266px;
  top: 258px;
}

.position-41 {
  right: 331px;
  top: 86px;
}

.position-99 {
  bottom: 230px;
  right: 485px;
}

.position-20 {
  bottom: 140px;
  right: 506px;
}

.position-21 {
  right: 127px;
  bottom: 87px;
}

.map .position-11 {
  right: 185px;
  bottom: 97px;
}

.map .position-12 {
  bottom: 166px;
  right: 227px;
}

.map .position-22 {
  left: 318px;
  bottom: 140px;
}

.map .loc3 .border-3 {
  width: 21px;
  height: 21px;
  border: 2px solid #f53838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map .loc3 .border-3 .disc-3 {
  width: 9px;
  height: 9px;
  background: #F53838;
  border-radius: 50%;
}

.map .position-33 {
  top: 178px;
  right: 510px;
}

.map .position-44 {
  left: 382px;
  bottom: 175px;
}

.position-15 {
  bottom: 220px;
  left: 303px;
}

.map .position-55 {
  top: 261px;
  right: 337px;
}

.map .position-66 {
  top: 281px;
  right: 609px;
}

.position-00 {
  left: 319px;
  bottom: 79px;
}

.network-content .path {
  margin-bottom: 155px;
}

.brands-content {
  padding-bottom: 60px;
  padding-top: 8px;
}

.brands-content .brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands-content {
  text-align: center;
}

/* End Network */

/* Start Testimonials */

.teslimonial-main {
  margin-bottom: 115px;
  position: relative;
}

.testimonial {
  padding: 30px;
  text-align: left;
}

.testimonial .person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial .person .assess span {
  display: flex;
  align-items: center;
  column-gap: 11px;
  
}

.person-target {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.testimonial .person .person-info {
  display: flex;
  align-items: center;
  column-gap: 21px;
}

.testimonial .person .person-info span {
  font-size: 14px;
  color: #4F5665;
}

.testimonial .person .person-info span strong {
  font-weight: 500;
  font-size: 18px;
  color: #0B132A;
}

.plans .testimonial blockquote {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}

.plans .testimonial blockquote::before {
  content: open-quote;
}

.plans .testimonial blockquote::after {
  content: close-quote;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 65px 0;
}

.left ul {
  display: flex;
  column-gap: 15px;
}

.slider .left ul li {
  width: 15px;
  height: 15px;
  background: #DDE0E4;
  border-radius: 50%;
}

.slider .left ul li:hover {
  background-color: #F53838;
  cursor: pointer;
}

.slider .right {
  display: flex;
  column-gap: 20px;
}
.left {
  display: flex;
  column-gap: 15px;
}
.slider .left .shape {
  width: 35px;
  height: 15px;
  background: #F53838;
  border-radius: 15px;
}

.arrow-left {
  width: 60px;
  height: 60px;
  border: 2px solid #F53838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-left:hover {
  background-color: #F53838;
  color: white;
}

.arrow-right {
  width: 60px;
  height: 60px;
  border: 2px solid #F53838;
  border-radius: 50%;
  background: #F53838;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 70px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  min-width: 1140px;
  box-shadow: 0px 51px 140px #F6F6F6;
}

.subscribe .title {
  width: 37%;
}

.subtitle {
  color: #4F5665;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

.subscribe button {
  border: 1px solid #000000;
  text-shadow: 3px 3px #000000 ,-3px -3px #000000;
  width: 250px;
}


/* End Testimonials */

/* Start Footer */

.footer {
  background: #F8F8F8;
  padding-top: 180px;
  padding-bottom: 141px;

}

.footer .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .main .info {
  flex: 2;
  align-self: flex-start;
  justify-content: flex-end;
}

.footer .main .info p {
  margin-top: 26px;
  margin-bottom: 30px;
}

.footer .main .info .icons {
  display: flex;
  column-gap: 20px;
}

.footer .main .info .icons i {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background:#FFFFFF;
  color: #F53838;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .main .info .copyright {
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
  margin-top: 30px;
}

.footer .main .propreties {
  flex: 1;
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
}

.footer .main .propreties ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer .main .propreties ul li {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.footer .main .propreties ul li:first-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

/* End Footer */

/* Start My Framework */

.container {
  max-width: 1140px;
  margin: auto;
}

.headline {
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  color: #0b132a;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  font-weight: normal;
}

.plans {
  display: flex;
  column-gap: 50px;
}

.box {
  flex: 1;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}

.fix-logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}


.logo-pro {
  color: #0b132a;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.loc1 {
  width: 43px;
  height: 43px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loc2 {
  width: 33px;
  height: 33px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loc3 {
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loc5 {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loc4 {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End My Framework */

/* Start Media Queries */

@media screen and (max-width:1140px) {
  .container {
    padding: 15px;
  }
}
/* End Media Queries */